*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(210, 205, 185, 0.993);
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.header {
	grid-area: header;
}

.nav {
	grid-area: navbar;
}

.principal {
	grid-area: principal;
}

.footer {
	grid-area: footer;
}

.grid {
	height: 100vh;
	margin: 0%;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
	"header"
	"nav"
    "principal"
	"footer"
}

.header{
    background-color: rgb(142, 217, 192);
    position:relative;
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content img{
    max-width: 300px;
    max-height: 350px;
    height: auto;
    width: auto;
}

.content__navbar{
    display: flex;
    justify-content:center;
    max-width: 1200px;
    margin: 0 auto;
}

.content__navbar li {
    border-right: 3px solid black;
}

.content__navbar li a{
    color:black;
    font-weight: bold;
    padding: 5px;
    display: block;
}

.container{
    width: 100%;
    max-width: 1200px;  
    height: 350px;
    display: flex;
    margin: auto;
    padding-top: 20px;
}

.container .card{
    width: 330px;   
    height: 250px;  
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow:hidden;
    margin: 20px;
    text-align: center;
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h3{
    font-weight:700;
}

.footer{
    background-color: rgb(142, 217, 192);
    padding: 5px 20px;
}

.footer h3{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.redes img{
    width: 35px;
    height: 35px;
}

.redes ul{
    list-style-type: none;
    text-align: center;
}

.redes li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

.whatsapp {
    position:fixed;
    width:70px;
    height:70px;
    bottom:50px;
    right:50px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:45px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

@media screen and (max-width:360px) { 
    .header{
        height: 180px;
    }

    .header__content img{
        max-width: 180px;
        max-height: 180px;
    }

    .content__navbar li a{
        padding: 3px;
        font-size: 12px;
    }

    .container{
        width: 100%;
        max-width: auto ;  
        height: 150px;
        display: inline-block;
        margin: auto;
        padding-top: 20px;
    }
    
    .container .card{
        width: 170px;   
        height: 150px;  
    }
    .container .card img{
        width: 150px;
        height: 120px;
    }
    
    .container .card h3{
        font-weight:700;
    }

    .whatsapp{
        display: none;
    }

    .footer h3{
        text-align: center;
        font-weight: bold;
        font-size: large;
    }

    .redes img{
        width: 25px;
        height: 25px;
    }

}
