*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(210, 205, 185, 0.993);
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.header {
	grid-area: header;
}

.nav {
	grid-area: navbar;
}

.principal {
	grid-area: principal;
}

.footer {
	grid-area: footer;
}

.grid {
	height: 100vh;
	margin: 0%;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
	"header"
	"nav"
    "principal"
	"footer"
}

.header{
    background-color: rgb(142, 217, 192);
    position:relative;
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content img{
        max-width: 300px;
        max-height: 350px;
        height: auto;
        width: auto;
    }
}

.content__navbar{
    display: flex;
    justify-content:center;
    max-width: 1200px;
    margin: 0 auto;

    & li a{
        color:black;
        font-weight: bold;
        padding: 5px;
        display: block;
    }
}

.menu{
    display: block;
    position: relative;
    height: 76px;
    width: 120px;
    margin: 0;
    overflow: hidden;

    &.inicio{
        border-top: #ffc000 0.3em solid;
    }
      
    &.quienes{
        border-top: #b81800 0.3em solid;
    }
      
    &.productos{
        border-top: #00a53c 0.3em solid;
    }
      
    &.comprar{
        border-top: #E67E22 0.3em solid;
    }
    
    &.contacto{
        border-top: #9600b4 0.3em solid;
    }
      
    & > span {
        display: block;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
    }
      
    &:after, & > span > span {
        display: block;
        text-align: center;
        border-radius: 0em;
        padding: 2em 0 1.5em;
    }
      
    &:after {
        content: attr(data-title);
        width: 100%;
        background: rgba(210, 205, 185, 0.993);
        color: #000; 
    }
      
    & > span > span {
        width: 120px;
        color: #000;
    }
      
    &.inicio > span > span {
        background: #ffc000;
    }
      
    &.productos > span > span {
        background: #00a53c;
    }
      
    &.quienes > span > span {
        background: #b81800;
    }
      
    &.comprar > span > span {
        background: #E67E22;
    }
    &.contacto > span > span {
          background: #9600b4;
    }
      
    &:hover > span {
          height: 100%; 
    }
      
    & ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
      
    & li a{
        display: inline;
        float: left;
        text-decoration: none;
        font-family: sans;
    }
}

.container{
    width: 100%;
    max-width: 1200px;  
    height: 350px;
    display: flex;
    margin: auto;
    padding-top: 20px;

    & .card{
        width: 330px;   
        height: 250px;  
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow:hidden;
        margin: 20px;
        text-align: center;
    }

    & .card img{
        width: 330px;
        height: 220px;
    }

    & .card h3{
        font-weight:700;
    }
}

.footer{
    background-color: rgb(142, 217, 192);
    padding: 5px 20px;

    & h3{
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }
}
.redes{
    & img{
    width: 35px;
    height: 35px;
    }
    & ul{
        list-style-type: none;
        text-align: center;
    }

    & li{
        display: inline;
        text-align: center;
        margin: 0 10px 0 0;
    }
}
.whatsapp {
    position:fixed;
    width:70px;
    height:70px;
    bottom:50px;
    right:50px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:45px;
    z-index:100;
}

.whatsapp-icon {
    margin-top:13px;
}

@media screen and (max-width:360px) { 
    .header{
        height: 180px;

        &__content img{
            max-width: 180px;
            max-height: 180px;
        }
    }

    .content__navbar li a{
        padding: 3px;
        font-size: 12px;
    }

    .container{
        width: 100%;
        max-width: auto ;  
        height: 150px;
        display: inline-block;
        margin: auto;
        padding-top: 20px;

        & .card{
            width: 170px;   
            height: 150px;  
        }

        & .card img{
            width: 150px;
            height: 120px;
        }

        & .card h3{
            font-weight:700;
        }
    } 

    .whatsapp{
        display: none;
    }

    .footer h3{
        text-align: center;
        font-weight: bold;
        font-size: large;
    }

    .redes img{
        width: 25px;
        height: 25px;
    }
    
    .menu{
        width: auto;

        & > span > span {
            width: auto;
            color: #000;
        }
    }
}